.portlet-static-gray {
    .portletHeader {
        display: none;
    }
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    h1, h2, h3 {
        margin: 5px 0 10px 0;
        font-size: medium;
        font-weight: bold;
        color: $brand-primary;
    }
    h1 { font-size: x-large; }
    h2 { font-size: large; }
    a.btn {
        @extend .blog-reply-button;
        box-shadow: 0 6px 4px -4px #818181;
    }
    background-color: #d7d7d7;
}

.portlet-static-blue {
    @extend .portlet-static-gray;
    background-color: $brand-primary;
    color: white;
    h1, h2, h3 {
        color: white;
    }
    a {
        color: white;
        font-weight: bold;
    }
    a.btn {
        background-color: white;
        color: $brand-primary;
    }
}
