//
// Header
// --------------------------------------------------
//
// The header elements.
// ------------------------
// Header Parts
// ------------------------

.navbar{
  ul{
    float:left;
    padding:0;
    li{
      padding:10px 0;
      list-style:none;
      text-align:left;
      &.selected a{
        color:$brand-primary;
      }
      a{
        color: #999999;
        text-decoration: none;
        &:hover, &:active {
          color:$brand-primary;
        }
      }
    }
  }
}


// -----------------------------------------------------------------------------
// Mobile first
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Small screen / tablet
// -----------------------------------------------------------------------------

@media (min-width: $screen-sm-min) {
  .navbar{
    ul{
      float:right;
      padding:0;
      margin:20px 0;
      li{
        list-style:none;
        text-align:left;
        float:left;
        padding:0 0 0 20px;
        &:first-child{
          padding:0;
        }
      }
    }
  }
}


// -----------------------------------------------------------------------------
// Medium screen / desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-md-min) {

}

// -----------------------------------------------------------------------------
// Large screen / wide desktop
// -----------------------------------------------------------------------------

@media (min-width: $screen-lg-min) {

}
